# Dev environment
.vscode

# Cyclone DDS
/cyclonedds/
/cyclonedds_install/
/adapters/cyclonedds/cyclonedds/
/adapters/cyclonedds/cyclonedds_install/

# Custom plugin
build/

# OpenDDS
/OpenDDS/

# Certificates
*.pem
